PRIVATE_KEY=
PROVIDER_URL=
REVENUE_CONTRACT_ADDRESS=
REVENUE_CONTRACT_ABI=[{"inputs": [], "name": "startUpdate", "outputs": [], "stateMutability": "nonpayable", "type": "function"}, {"inputs": [{"internalType": "uint256","name": "totalKillaz","type": "uint256"},{"internalType": "uint256","name": "totalLadyKillaz","type": "uint256"}], "name": "endUpdate", "outputs": [], "stateMutability": "nonpayable", "type": "function"}, {"inputs": [{"internalType": "address","name": "token","type": "address"},{"internalType": "uint256[]","name": "tokenIds","type": "uint256[]"}],"name": "updateListing","outputs": [],"stateMutability": "nonpayable","type": "function"}]
KILLAZ_CONTRACT_ADDRESS=0x21850dcfe24874382b12d05c5b189f5a2acf0e5b
LADYKILLAZ_CONTRACT_ADDRESS=0xe4d0e33021476ca05ab22c8bf992d3b013752b80
NFT_CONTRACT_ABI=[{"inputs": [],"name": "totalSupply","outputs": [{"internalType": "uint256","name": "","type": "uint256"}],"stateMutability": "view","type": "function"}]
FETCH_IDS_AT_ONCE=20